.element__like {
    margin: 0;
    width: 22px;
    height: 19px;
    transition: opacity 0.3s;
    background-image: url(../../../images/like.svg);
    border: none;
    background-position: center;
    box-sizing: content-box;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: transparent;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
 }

 .element__like_active {
    background-image: url(../../../images/like_active.svg);
 }
