.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    transition: opacity 0.3s;
    background-image: url(../../../images/button-delete.svg);
    border: none;
    background-position: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0;
    background-size: auto;
    background-color: transparent;
}

.element__delete:hover {
    opacity: 0.6;
 }