.header__logo {
    width: 142px;
    height: 33px;
    margin-right: auto;
    
  }

  @media screen and (max-width: 900px) {
    .header__logo {
      margin-left: 27px;
      width: 103px;
    height: 24px;
    }
}     