.popup-element__container {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 430px;
    min-height: 330px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
align-items: center;
padding: 0 36px 0 36px;
}

@media screen and (max-width: 900px) {
    .popup-element__container {
        max-width: 282px;
        min-height: 322px;
        padding: 0 22px 0 22px;
    }
}     