.popup__button-close {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/button-close.svg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.popup__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
 }

 @media screen and (max-width: 900px) {
    .popup__button-close {
        background-size: cover;
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}    