.profile__info {
    display: grid;
    color: #fff;
    margin: 0 0 0 30px;
    max-width: 336px;
    align-items: baseline;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 18px;
    row-gap: 16px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        
        margin: 22.25px 0 0 0px;
        
      
    }
}     
